:root {
  /* 这里是默认的属性 */
  --ant-header-bg-color: #fff;
  --ant-title-color: rgb(0, 0, 0);
  --ant-anticon-color: rgb(0, 0, 0);

  /* 侧边菜单栏 */
  --ant-sider-bg-color: #fff;
  --ant-sider-text-color: #767676;
  --ant-sider-selected-text-color: #1890ff;
  --ant-sider-selected-bg-color: #e6f7ff;

  /* 内容区域 */
  --ant-content-bg-color: rgb(240 242 245);
  --ant-card-bg-color: rgb(255 255 255);
}
